---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p>You can also find my articles on <a href="https://scholar.google.com/citations?user=rvKyc_8AAAAJ&hl=en">my Google Scholar profile</a>.</p>

{% include base_path %}

<h2>2025</h2>
{% for post in site.publications reversed %}
  {% if post.date contains '2025' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>2024</h2>
{% for post in site.publications reversed %}
  {% if post.date contains '2024' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>2023</h2>
{% for post in site.publications reversed %}
  {% if post.date contains '2023' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>2022</h2>
{% for post in site.publications reversed %}
  {% if post.date contains '2022' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>2021</h2>
{% for post in site.publications reversed %}
  {% if post.date contains '2021' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>2019 – 2017</h2>
{% for post in site.publications reversed %}
  {% if post.date contains '2019' or post.date contains '2018' or post.date contains '2017' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
